html, body {
    background:#c5c1b9;;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #c5c1b9, #ffd740);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #c5c1b9, #ffd740); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.card-body{
    background-color: #d89006;
    transition: all 400ms ease;
}

.card-body:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.card{
    text-align: center;
}

.card-title{
    color: black;
}

a.btn{
    background-color: rgb(35, 42, 65);
    color: #d89006;
}


/*.navbar{
    transition: transform 1s ease;
}

.navbar{
    transform: scale(1.1);
}*/

