body {
  font-size:100%;
  
}

.menu {
background:#333;
width:100%;
height: 100%;
left: 10px;
}

.btnAct i:hover{
  color: grey;
}

.btnBorr i:hover{
  color: grey;
}

.btnHist i:hover{
  color: gray;
}

#contenido {
margin-left:0;
}

.sidebar {
position: fixed;
top: -10px;
bottom: 10px;
left: 0px ;
z-index: 1;
}

.sidebar ul, .sidebar li {
margin:0;
padding:0;
margin-left: 10px ;
list-style:none inside;
}

.sidebar ul {
margin: 4rem auto;
display: block;
width: 80%;
min-width:120px;
}

.sidebar a {
display: block;
font-size: 120%;
color: #fff;
text-decoration: none;
}

.sidebar a:hover{
color:#fff;
background-color: #f90;
border-radius: 5px;
padding-left: 5px;
}

.sidebar .menusel{
color:#fff;
background-color: #f90;
border-radius: 5px;
padding-left: 5px;
}

#contenido {
margin-left: 150px;
}

#menuhorizontal {
margin:0;
padding:0;
list-style-type:none; 
}

#menuhorizontal a {
width:100px;
text-decoration:none;
text-align:center;
color:#ff0000;
background-color:#f7f8e8;
padding:3px 5px;
border-right:1px solid blue;
display:block;
width: 150px;
}

#menuhorizontal li {
float:left;
}

#menuhorizontal a:hover {
background-color:#336699;
color:#fff;
}

#menuhorizontal .seleccionado {
background-color:#336699;
color:#fff;
}

.lineaSuperior{
margin-top: 5px;
border: 1px solid #000; 
padding:1px; 
background-color: black;
}

span img {
border: 1px solid #ddd; /* Gray border */
border-radius: 4px;  /* Rounded border */
padding: 5px; /* Some padding */
width: 150px; /* Set a small width */
height: 50%; /* Set a small width */
}

span img:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imagengrande{
display:none; 
position:absolute; 
z-index: 1;
width:1%;
}

.imagenchica:hover {opacity: 0.7;}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.contenido-modal {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

.caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

.contenido-modal, .caption {
animation-name: anima;
animation-duration: 0.6s;
}

@keyframes anima {
from {transform:scale(0)}
to {transform:scale(1)}
}

.close {
position: absolute;
top: 40px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.contenido-modal {
width: 100%;
}
}

* {box-sizing: border-box}

/* Set a style for all buttons */
.boton {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.boton:hover {
opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
float: left;
width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
background-color: #ccc;
color: black;
}

/* Add a color to the delete button */
.deletebtn {
background-color: #f44336;
}

/* Add padding and center-align text to the container */
.containerdelete {
padding: 16px;
text-align: center;
}



/* The Modal (background) */
.modaldelete {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #474e5d;
padding-top: 50px;
}

/* Modal Content/Box */
.modalcontentdelete {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

.btnNuevoArt{
  background-color: #b5daff;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.cerrardelete {
position: absolute;
right: 35px;
top: 35px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.cerrardelete:hover,
.cerrardelete:focus {
color: #f44336;
cursor: pointer;
}

table{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

table th{
  font-size: 20px;
  padding-bottom: 25px;
  background-color: #e9e9e9
}


/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

.topnav {
overflow: hidden;
background-color: #e9e9e9;
margin-bottom: 5px;
width: 100%;
}

.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #2196F3;
color: white;
}

.topnav .search-container {
float: right;
}

.contBusqueda{
  text-align: right;
  margin-top: 5px;
  margin-right: 5%;
}

.btnBusc{
  background-color: transparent;
  border: transparent;
  transition: color 500ms;
}

.btnBusc :hover{
  background-color: #b5daff;
}

tr{
  transition-duration: 0.5s;
  
}

tr:hover{
  background-color: rgb(202, 202, 233);
}

.topnav input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
}



.topnav .search-container button:hover {
background: #ccc;
}

@media screen and (max-width: 600px) {
.topnav .search-container {
float: none;
}
.topnav a, .topnav input[type=text], .topnav .search-container button {
float: none;
display: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
}
.topnav input[type=text] {
border: 1px solid #ccc;  
}
}


/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .deletebtn {
width: 100%;
}
}

i{
  color: black;
  padding: 10px;
}

