@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-straight/css/uicons-thin-straight.css');
/* @import url(../slider.css); */
*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 100%;
}

.cuerpo{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.containerBuscador{
text-align: center;
position: relative;
}

.inputBuscar{
    position: inherit;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: solid 1px black;
    height: 40px;
    width: 500px;
    outline: none;
}

.btnBuscar{
    position: absolute; 
    border-color: transparent;
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 50px;
    padding: 10px;
    border: solid 1px black;
    cursor: pointer;
}

.contiene_boton_pedido{
    display: flex;
    align-content: center;
    width: 100%;
    position: sticky;
    align-items: flex-end;
    bottom: 10px;
}
.btn-pedido{
    background-color: #00000052;
    color: #000000;
    font-size: 13px;
    border-radius: 5px;
    padding: 12px 6px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    font-family: var(--varFuente1);
    border: 1px;
    box-shadow: 2px 2px 2px #888;
}

.btn-pedido:hover{
background-color: #b8b2b2;
}

.btn-pedido:active{
background-color: #888888;
}

/* .row {
    position: relative;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;
} */

.col-4 {
    max-width: 500px; /* Ancho máximo de las tarjetas */
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto; /* Auto en el eje horizontal para centrar */
}

.paginador{
    text-align: center;
    position: relative;
}

.paginador .etiquetaPaginador{
    display: inline-block;
    margin-right: 10px;
    color: black;   
}

#numPag{
    padding: 5px;
    border: solid 1px;
    border-radius: 20%;
    transition: transform 0.3s;
}

#numPag:hover{
    color:#b5daff;
    background-color: black;
}

.close{
    cursor: pointer;
}


/*---------------------------------------------------------------------------*/
*{
    --varFuente1: 'Trebuchet MS';
}

.contenedor{
    margin-top: 60px;
    background-color: #f5f5f5;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.articulos_cabecera{
    font-family: var(--varFuente1);
    width: 100%;
    display: flex;
    background-color: #b8b2b2;
    height: 50px;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}
.articulos_cabecera .col1{
    width: 60%;
    text-align: center;
}
.articulos_cabecera .col2{
    width: 10%;
}
.articulos_cabecera .col3{
    width: 10%;
}
.articulos_cabecera .col4{
    width: 10%;
}
.articulos_cabecera .col5{
    width: 10%;
}

.grilla_articulos_detalle{
    font-family: var(--varFuente1);
    width: 100%;  
    background-color: white;
    display: grid;
    grid-template-columns: 15% 45% 10% 10% 20%;
    grid-template-rows: 85px;
    align-items: center;
    /* border: gray;
    border-style: solid;
    border-width: 0 2px 2px; */
    margin-bottom: 2px;
    row-gap: 2px;
}

.col-g-1{
    margin: 0 auto;
    max-height: 100%;
    overflow: hidden;
}

.col-g-1 img{
    height: 85px;
    object-fit: scale-down;
    cursor: pointer;
}

.col-g-2{
    padding-right: 10px;
}

.col-g-3{
    align-items: center;
    min-width: 90px;
}

.col-g-5{
    margin: 0 auto;
}

.lblForm{
    max-width: 85px;
    border: 1px solid #e3dbdb;
    height: 30px;
    border-radius: 2px;
    padding: 2px;
}

.lblForm:active{
    border: 1px solid #b9b3b3;
    border-radius: 2px;
}

/*Modal
The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-left: 80px;
    padding-top: 80px;

}

.titulo-Modal{
    text-align: center;
    font-family: 'Trebuchet MS';
    margin: 20px;
    margin-bottom: 40px;
}

.titulo-Modal h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(26, 25, 25);
}


.Contenedor-form-modal{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 90%;
    padding: 10px 10px 10px 10px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 60px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.carrito{
    font-family: var(--varFuente1);
}

.positivo{
    color: red;
}

.carrito:hover{
    cursor: pointer;
}

.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-right: 80px;
}

.titulo{
    width: 60%;
}

.usuario{
    width: 20%;
}

.contiene-boton{
    text-align: center;
}

.btn-enviar{
    background-color: #ccc;
    color: rgb(26, 25, 25);
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Trebuchet MS';
    border: 1px;
    box-shadow: #888;
}

.btn-enviar:hover{
background-color: #b8b2b2;
}

.btn-enviar:active{
background-color: #888888;
}

.modal2{
    display: none;
}

/*----------------Slider----------------------------*/
.slider{
    min-width: 90%;
    min-height: 500px;
    margin: auto 5%;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contiene-slider{
    min-width: 70%;
    padding: 30px;

}
.detalle{
    min-width: 30%;
    border: 2px;
    border-color: gray;
    padding: 32px 0 50px 10px;
    font-size: 18px;
}
.slider img{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
    object-fit:contain;
}

.slider input[type="radio"]{
    display: none;
}

.slider input[type="radio"]:checked ~ img{
    opacity: 1;
}

.slider input[type="radio"] + label{
    position: relative;
    z-index: 50; 
    margin: 10px;
    width: 15px;
    height: 15px;
    background: black;
    display: block;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.slider input[type="radio"]:checked + label{
    background: black;
    border: 2px solid white;
}

.slider-Inner{
    width: 100%;
    background-color: white;
}
.descripcion{
    background-color: white;
    font-family: var(--varFuente1);
}

.pie-de-pagina{
    position: relative;
    height: 15px;
    border-top: 2px solid #8888;
    align-items: center;
    background: rgb(247,3,3);
    background: linear-gradient(90deg, rgba(247,3,3,1) 0%, rgba(247,3,3,1)18%,  rgba(255,255,255,1) 25%);
}
.progreso{
    width: 25%;

    height: 15px;
    position: absolute;
}
.texto-progreso{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 15px;
    font-family: var(--varFuente1);
    font-size: 12px;
}

